<!DOCTYPE HTML>
<html xmlns:resize="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>全局聊天室</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
</head>
<body>
<div class="page-header text-center text-primary">
    <h1>主页</h1>
</div>

<ul class="list-group" id="message">
    <li class="list-group-item" ><font color="green">功能更丰富的聊天室：</font> <a href="/chat">聊天室</a></li>
    <li class="list-group-item" >权限验证： <a href="/somepage">somepage</a></li>
    <li class="list-group-item" >全局聊天室：<a href="/room">room</a></li>
</ul>




<!--!&#45;&#45; jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"/>
</body>
</html>