<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>全局聊天室</title>
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <style type="text/css">
        body{ padding-bottom:80px;
            max-width: 1000px;
            margin: 0 auto;
        }
        .fixed{
            max-width: 800px;
            margin: 0 auto;
            position: fixed;
            bottom: 0px;
            width: 100%;
            height: 50px;
            /*background-color: #000;*/
            background-color: white;
            z-index: 9999;
        }
        .msg {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 8px;
            max-width: 500px;
        }
        .nickname {
            background: #31708f;
            color: white;
            border-radius: 10px;
            padding: 8px;
        }
        ul {
            overflow: auto;
            height: auto;
            margin: 0 auto;
        }

        li {
            float: left;
            width: 100%;
            margin: 0 auto;
        }

        .haha {
            background: #00bfff1c;
            border-radius: 5px;
            padding: 10px;
            width: fit-content;
            margin-top: 5px;
        }
        ::-webkit-scrollbar {

            width: 5px;

            height: 2px;
        }
        ::-webkit-scrollbar-thumb {
            background:linear-gradient(to right, #ccc 0%, #ccc 100%);
            width: 85%

        }

        ::-webkit-scrollbar-track {
            background-color: transparent
        }
        span {
            word-break: break-all;
        }





    </style>
</head>
<body>
<div class="page-header text-center text-primary">
    <h1>聊天室</h1>
    <div id="cur_room_id">房间id:global_room_msg</div>
</div>

<br /><br />
<!--<div id="message"></div>-->
<div style="float:left">
    <ul class="list-group" id="belong_group" style="overflow-y: scroll; width: 170px; height: 74vh ;background: lightgray">
        <li  class="list-group-item"><button class="btn btn-inverse"><a href="/new-room">新建房间</a> </button></li>
        <li  class="list-group-item"><button class="btn btn-inverse"><a href="/join-room">加入房间</a> </button></li>
        <li  class="list-group-item"><button class="group-btn btn btn-inverse" onclick="reenter(this.id)"  id="global_room_msg">全局房间</button> </li>
    </ul>
</div>

<div style="height: 61vh;background: whitesmoke">
<ul class="list-group" id="message" style="overflow-y: scroll; max-height: 60vh">
    <li class="list-group-item"><span class="nickname">系统信息</span><div class="msg"> <img style="max-width: 350px; max-height: 250px"  src="../static/Inked1f458c3644db4f1db12c16772edce24c无标题_LI.jpg"></div></li>
    <!--<li class="list-group-item">-->
    <!--    <div style="float: right">-->
    <!--        <span class="nickname">dsafffffffffffffffffffffffffff</span>-->
    <!--    </div>-->
    <!--    <br />-->
    <!--    <div class="msg" style="float: right"> 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群欢迎入群 欢迎入群-->
    <!--            欢迎入群 欢迎入群 欢迎入群 欢迎入群 欢迎入群-->
    <!--    </div>-->

    <!--</li>-->

</ul>
</div>
<div class="clear:both"></div>

<div class="">
    <button class="btn btn-primary" style="float: right;margin-right: 10px;margin-top: 33px" type="button" onclick="send()">发送</button>

    <div style="overflow: hidden; padding-right: 10px">
        <div style="padding-left:10px; float: left;"><input type="file" id="d3" onchange="fileChange(this);"></div>
        <button class="btn btn-mini" style="float: right;" id="d4">文件上传</button>
    <textarea style="margin-left:10px;width: 100%; resize: none;height: 10vh"
           id="text"
           name="send"
           placeholder="输入发送消息"
           maxlength="1000"
           minlength="1"
           class="form-control"></textarea>
    </div>

    <div class="clear"></div>
</div>

<script>
    function fileChange(target) {
        var fileSize = 0;
        fileSize = target.files[0].size;
        var size = fileSize / 1024;
        if(size>10000){
            alert("你好，我服务器太菜，文件最好不要大于10M");
            target.value="";
            return false;   //阻止submit提交
        }
    }
    //点击按钮朝后端发送普通键值对和文件数据
    $('#d4').on('click',function (){
        //1.需要先利用FormData内置对象
        let formDataObj = new FormData();

        //3.添加文件对象
        formDataObj.append('file',$('#d3')[0].files[0])
        //4.将对象基于ajax发送给后端
        $.ajax({
            url:'/yadiUploadFile',
            type:'post',
            data:formDataObj,  //直接将对象放在data后面

            //ajax发送文件必须要指定两个参数
            contentType:false,  //不要使用任何编码，django后端能够自动识别formdata对象
            processData:false,  //告诉浏览器不要对你的数据进行任何处理

            success:function (data) {
                //转换json字符串为json对象
                //方式一：
                console.log(data);
                var obj2 = data;
                var obj = document.getElementById('d3') ;
                obj.outerHTML=obj.outerHTML;
                //转为json对象可以直接点属性


                var map = new Map();
                if(obj2.status=="false") {
                    return;
                }
                map.set("type",obj2.type);
                map.set("user",getCookie("user"));
                map.set("group",globalGroup);
                map.set("msg",obj2.origin_name);
                map.set("url",obj2.file_url);
                var map2json=Map2Json(map);
                webSocket.send(map2json);
            }
        })

    })
</script>
<script type="text/javascript">
    var webSocket;
    var MAGIC_FILE_SPLIT="rrutg@%&$^%@$nv.,xgjqer";
    var MAGIC_IMAGE_SPLIT="%@^$%&afdgw%^@$^@asqdf";
    var globalGroup='global_room_msg';
    var loadPreMsg = false;
    var wsConnect = false; //避免重复连接
    var url = "ws://ws-yadichat.orzlinux.cn/ws";
    // var url = "ws://localhost:10240/ws";
    if (window.WebSocket) {
        webSocket = new WebSocket(url);
    } else {
        alert("抱歉，您的浏览器不支持WebSocket协议!");
    }
    $(function(){

        function ping() {
            if(wsConnect===true) {
                console.log("ping...");
                webSocket.send("heartbeat");
            }
        }
        setInterval(ping, 5000);
    })
    function setWebSocket() {
        //连通之后的回调事件
        webSocket.onopen = function() {
            console.log("已经连通了websocket");
            wsConnect = true;
            enter();
        }
        //连接发生错误的回调方法
        webSocket.onerror = function(event){
            console.log("出错了");
            wsConnect = false;
            reconnect(url);
//              setMessageInnerHTML("连接失败");
        };

        //连接关闭的回调方法
        webSocket.onclose = function(){
            console.log("连接已关闭...");
            wsConnect = false;
            reconnect(url);
        }

        //接收到消息的回调方法
        webSocket.onmessage = function(event){
            if(event.data==="heartbeat") {
                console.log("heartbeat");
                webSocket.send("heartbeat");
                return;
            }
            var data = JSON.parse(event.data)
            var msg = data.msg;
            var nick = data.sendUserNickname;
            var userId = data.sendUserCookieId;
            switch(data.type){
                case 'init':
                    console.log("init");
                    break;
                case 'msg':
                    console.log("msg");
                    setMessageInnerHTML(nick, msg,userId,data.type,'');
                    break;
                case 'file':
                    console.log("file");
                    setMessageInnerHTML(nick, msg,userId,data.type,data.url);
                    break;
                case 'image':
                    console.log("image");
                    setMessageInnerHTML(nick, msg,userId,data.type,data.url);
                    break;
                default:
                    break;
            }

        }
    }
    setWebSocket();
    function reconnect(url) {
        if(wsConnect) return;
        //没连接上会一直重连，设置延迟避免请求过多
        webSocket = new WebSocket(url);
        wsConnect = true;
        setWebSocket();
        console.log("正在重连，当前时间" + new Date());
    }


    function enter(){
        var map = new Map();
        map.set("type","init");
        map.set("user",getCookie("user"));
        map.set("group",globalGroup);
        var message = Map2Json(map);
        webSocket.send(message);
    //    获取最近100条消息
        if(!loadPreMsg) {
            loadPreMsg = true;

            $.ajax({
                url: '/group/getbelonggroup?uid='+getCookie("user"),
                success: function (json) {
                    $.each(json, function (i, item) {
                        //循环获取数据
                        var nick = item.nickname;
                        var type = item.type;
                        var userId = item.groupFriendName;

                        $("#belong_group").last().append(' <li class="list-group-item">' +
                            '<button class="group-btn btn btn-inverse" onClick="reenter(this.id)" id='+userId+'>'+nick+'</button> </li>');
                    });
                }
            });


            $.ajax({
                url: '/textMsg/getLast100Msg',
                success: function (json) {
                    $.each(json, function (i, item) {
                        //循环获取数据
                        var nick = item.nick_name;
                        var msg = item.msg;
                        var userId = item.idname;


                        var fileurl = "";
                        console.log(msg);
                        var msgArray = msg.split(MAGIC_FILE_SPLIT);
                        console.log("msgArray"+msgArray);
                        var fileprefix = msgArray[0];
                        if(msgArray.length==2) {
                            msg = msgArray[0];
                            fileurl = msgArray[1];
                            fileprefix = '<a href="/file?fileurl='+ fileurl+'" style="text-decoration:none; color:cadetblue;cursor:pointer; font-size:16px; padding-top:5px">'+
                                '📄'+
                                msg+
                                '</a>';
                        } else {
                            msgArray = msg.split(MAGIC_IMAGE_SPLIT);
                            console.log("msgArray"+msgArray);
                            fileprefix = msgArray[0];
                            if(msgArray.length==2) {
                                msg = msgArray[0];
                                fileurl = msgArray[1];
                                fileprefix = '<img style="max-width: 350px; max-height: 250px"  src="/file?fileurl='+ fileurl+'">';
                            }

                        }
                        // <img style="max-width: 350px; max-height: 250px"  src="http://localhost:8080/file?fileurl=9bf8d31e39704668a8a5ced9092bae292876F0EA833EDA8DA415ADE79EDE1EA0.jpg">

                        console.log(fileprefix);
                        if(userId!=getCookie("user")){
                            // 别人
                            $("#message").last().append('<li class="list-group-item"><span class="nickname">' +nick+
                                '</span><div class="msg"><div class="haha"><span>'+fileprefix+ '</span></div></div></li>');
                        }else {
                            // 自己
                            $("#message").last().append('<li class="list-group-item">\n' +
                                '        <div style="float: right">\n' +
                                '            <span class="nickname" style="background: forestgreen;">' + nick +'</span>\n' +
                                '        </div>\n' +
                                '        <br />\n' +
                                '        <div class="msg" style="float: right"><div class="haha"><span> '+fileprefix+ '</span></div></div></li>');
                        }
                    });
                    items = document.querySelectorAll(".msg");
                    last = items[items.length-1];
                    last.scrollIntoView();
                }
            });
        }
    }

    function send() {
        var msg = document.getElementById('text').value;
        console.log("1:"+msg);
        if (msg != null && msg !== ""){
            var map = new Map();
            map.set("type","msg");
            map.set("user",getCookie("user"));
            map.set("group",globalGroup);
            map.set("msg",msg);
            var map2json=Map2Json(map);
            if (map2json.length < 8000){
                console.log("4:"+map2json);
                webSocket.send(map2json);
                document.getElementById('text').value='';
            }else {
                console.log("文本太长了，少写一点吧😭");
            }
        }
    }

    function getCookie(cookie_name) {
        var allcookies = document.cookie;
        //索引长度，开始索引的位置
        var cookie_pos = allcookies.indexOf(cookie_name);

        // 如果找到了索引，就代表cookie存在,否则不存在
        if (cookie_pos != -1) {
            // 把cookie_pos放在值的开始，只要给值加1即可
            //计算取cookie值得开始索引，加的1为“=”
            cookie_pos = cookie_pos + cookie_name.length + 1;
            //计算取cookie值得结束索引
            var cookie_end = allcookies.indexOf(";", cookie_pos);

            if (cookie_end == -1) {
                cookie_end = allcookies.length;

            }
            //得到想要的cookie的值
            var value = unescape(allcookies.substring(cookie_pos, cookie_end));
        }
        return value;
    }

    //将消息显示在网页上
    function setMessageInnerHTML(nick,msg,userId,type,url) {
        var fileprefix = msg;
        if(type==="file") {
            fileprefix = '<a href="/file?fileurl='+ url+'" style="text-decoration:none; color:cadetblue;cursor:pointer; font-size:16px; padding-top:5px">'+
                '📄'+
            msg+
            '</a>';
        } else if(type==="image") {
            fileprefix = '<img style="max-width: 350px; max-height: 250px"  src="/file?fileurl='+ url+'">';
        }
        if(userId!=getCookie("user")){
            // 别人
            $("#message").last().append('<li class="list-group-item"><span class="nickname">' +nick+
                '</span><div class="msg"><div class="haha"><span>'+fileprefix+ '</span></div></div></li>');
        }else {
            // 自己
            $("#message").last().append('<li class="list-group-item">\n' +
                '        <div style="float: right">\n' +
                '            <span class="nickname" style="background: forestgreen;">' + nick +'</span>\n' +
                '        </div>\n' +
                '        <br />\n' +
                '        <div class="msg" style="float: right"><div class="haha"><span> '+fileprefix+ '</span></div></div></li>');
        }
        items = document.querySelectorAll(".msg");
        last = items[items.length-1];
        last.scrollIntoView();


    }

    function Map2Json(map) {
        var str = "{";
        map.forEach(function (value, key) {
            str += '"'+key+'"'+':'+ '"'+value+'",';
        })
        str = str.substring(0,str.length-1)
        str +="}";
        return str;
    }

    function reenter(groupid) {
        var x = document.getElementsByClassName("group-btn");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].style.backgroundColor = "";
        }
        document.getElementById(groupid).style.backgroundColor="skyblue";
        var map = new Map();
        map.set("type","init");
        map.set("user",getCookie("user"));
        map.set("group",groupid);
        var message = Map2Json(map);
        webSocket.send(message);
        //    获取最近100条消息
        loadPreMsg = false;
        if(!loadPreMsg) {
            loadPreMsg = true;

            $.ajax({
                url: '/group/getLast100Msg?gid='+groupid,
                success: function (json) {
                    $("#cur_room_id").html("房间号："+groupid);
                    $("#message").html(' ');
                    globalGroup = groupid;
                    $.each(json, function (i, item) {
                        //循环获取数据
                        var nick = item.nick_name;
                        var msg = item.msg;
                        var userId = item.idname;


                        var fileurl = "";
                        console.log(msg);
                        var msgArray = msg.split(MAGIC_FILE_SPLIT);
                        console.log("msgArray"+msgArray);
                        var fileprefix = msgArray[0];
                        if(msgArray.length===2) {
                            msg = msgArray[0];
                            fileurl = msgArray[1];
                            fileprefix = '<a href="/file?fileurl='+ fileurl+'" style="text-decoration:none; color:cadetblue;cursor:pointer; font-size:16px; padding-top:5px">'+
                                '📄'+
                                msg+
                                '</a>';
                        } else {
                            msgArray = msg.split(MAGIC_IMAGE_SPLIT);
                            console.log("msgArray"+msgArray);
                            fileprefix = msgArray[0];
                            if(msgArray.length===2) {
                                msg = msgArray[0];
                                fileurl = msgArray[1];
                                fileprefix = '<img style="max-width: 350px; max-height: 250px"  src="/file?fileurl='+ fileurl+'">';
                            }
                        }



                        console.log(fileprefix);
                        if(userId!=getCookie("user")){
                            // 别人
                            $("#message").last().append('<li class="list-group-item"><span class="nickname">' +nick+
                                '</span><div class="msg"><div class="haha"><span>'+fileprefix+ '</span></div></div></li>');
                        }else {
                            // 自己
                            $("#message").last().append('<li class="list-group-item">\n' +
                                '        <div style="float: right">\n' +
                                '            <span class="nickname" style="background: forestgreen;">' + nick +'</span>\n' +
                                '        </div>\n' +
                                '        <br />\n' +
                                '        <div class="msg" style="float: right"><div class="haha"><span> '+fileprefix+ '</span></div></div></li>');
                        }
                    });
                    items = document.querySelectorAll(".msg");
                    last = items[items.length-1];
                    last.scrollIntoView();
                }
            });
        }
    }
</script>
<!--!&#45;&#45; jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"/>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"/>
</body>
</html>